<div class="col-sm-12 col-lg-6">

  <div class="panel panel-default" ng-show="targetId && error">
    <div class="panel-heading">
      <h3 class="panel-title">Couldn't load iSCSI target</h3>
    </div>
    <div class="panel-body">
      iSCSI target "{{ targetId }}" could not be loaded.
    </div>
  </div>

  <oa-loading-panel message="iSCSI target '{{ targetId }}' is loading..."
                    ng-show="targetId && !error && !model.$resolved"></oa-loading-panel>

  <form ng-show="!targetId || (!error && model.$resolved)" name="iscsiForm" role="form" class="form-horizontal" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Target {{ model.targetId }}</h3>
      </div>
      <div class="panel-body">

        <div class="form-group"
             ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm.targetId.$dirty) && iscsiForm.targetId.$invalid}">
          <label class="col-sm-3 control-label" for="targetId">Target</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input type="text" class="form-control" name="targetId" id="targetId"
                     ng-model="model.targetId" required valid-iqn>
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" uib-tooltip="Settings" ng-click="openTargetSettingsModal()">
                    <i class="fa fa-cogs"></i>
                  </button>
                </span>
            </div>
            <span class="help-block" ng-show="iscsiForm.$submitted || iscsiForm.targetId.$dirty">
              <span class="tc_targetIdRequired" ng-show="iscsiForm.targetId.$error.required">Required field</span>
              <span class="tc_targetIdInvalid" ng-show="iscsiForm.targetId.$error.iqn">
                An IQN has the following notation 'iqn.$year-$month.$reversedAddress:$definedName'<br>
                For example: iqn.2016-06.org.openattic:storage:disk.sn-a8675309<br>
                <a target="_blank" href="https://en.wikipedia.org/wiki/ISCSI#Addressing">More information</a>
              </span>
            </span>
            <div class="row">
              <div class="col-sm-12">
                <span ng-repeat="setting in CEPH_ISCSI_TARGET_ADVANCED_SETTINGS">
                  <span ng-if="model.targetSettings.hasOwnProperty(setting.property)" class="no-wrap margin-right-md">
                      <label>&#10551; {{ setting.property }}</label>: {{ model.targetSettings[setting.property] }}
                  </span>
                </span>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="portals">Portals</label>
          <input type="hidden" ng-model="model.portals[0]" id="portals" required>
          <div class="col-sm-9">
            <span ng-if="model.portals.length === 0" class="form-control no-border">
              <span class="text-muted">Empty</span>
            </span>
            <span ng-repeat="selectedPortal in model.portals track by $index">
              <div class="input-group">
                <input type="text" class="form-control"
                       value="{{ selectedPortal.hostname }}: {{ selectedPortal.interface }}"
                       readonly>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" uib-tooltip="Delete"
                          ng-click="removePortal($index)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </span>
              </div>
              <span class="help-block"></span>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="form-control no-border">
              <button type="button" class="btn btn-default pull-right tc_addPortalButton" uib-dropdown-toggle
                      ng-disabled="availablePortals().length === 0">
                <i class="fa fa-fw fa-plus"></i>Add portal
              </button>
              <ul class="dropdown-menu scrollable-menu pull-right" uib-dropdown-menu
                  aria-labelledby="simple-dropdown">
                <li ng-repeat="currentPortal in availablePortals()">
                  <a ng-click="addPortalAction(currentPortal)"
                     class="tc_addPortalItem">{{ currentPortal.hostname }}: {{ currentPortal.interface }}</a>
                </li>
              </ul>
            </span>
            <hr>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="images">Images</label>
          <input type="hidden" ng-model="model.images[0]" id="images" required>
          <div class="col-sm-9">
            <span ng-if="model.images.length === 0" class="form-control no-border">
              <span class="text-muted">Empty</span>
            </span>
            <span ng-repeat="currentImage in model.images track by $index">
              <div class="input-group">
                <div class="input-group-addon">lun: {{ currentImage.settings.lun }}</div>
                <input type="text" class="form-control"
                       value="{{ currentImage.pool }}: {{ currentImage.name }}"
                       readonly>
                <span class="input-group-btn">
                  <button class="btn btn-default tc_imageSettingsButton" type="button" uib-tooltip="Settings"
                          ng-click="openImageSettingsModal(currentImage)">
                    <i class="fa fa-cogs"></i>
                  </button>
                  <button class="btn btn-default" type="button" uib-tooltip="Delete"
                          ng-click="removeImage($index)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </span>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                    <span ng-repeat="setting in ALL_ISCSI_IMAGE_SETTINGS">
                      <span ng-if="currentImage.settings.hasOwnProperty(setting.property)" class="no-wrap margin-right-md">
                          <label>&#10551; {{ setting.property }}</label>: {{ currentImage.settings[setting.property] }}
                      </span>
                    </span>
                  </div>
              </div>
              <span class="help-block"></span>
            </span>
            <span uib-dropdown on-toggle="toggled(open)" class="form-control no-border">
              <button type="button" class="btn btn-default pull-right tc_addImageButton" uib-dropdown-toggle
                      ng-disabled="availableImages().length === 0">
                <i class="fa fa-fw fa-plus"></i>Add image
              </button>
              <ul class="dropdown-menu scrollable-menu pull-right" uib-dropdown-menu
                  aria-labelledby="simple-dropdown">
                <li ng-repeat="currentImage in availableImages()"
                    ng-class="{disabled: currentImage.hasUnsupportedFeature}">
                  <a ng-click="addImageAction(currentImage)"
                     class="tc_addImageItem">{{ currentImage.pool }}: {{ currentImage.name }}
                    <span ng-if="currentImage.hasUnsupportedFeature">(unsupported)</span>
                  </a>
                </li>
              </ul>
            </span>
            <hr>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" ng-model="model.authentication.hasAuthentication" name="active"
                     id="hasAuthentication">
              <label for="hasAuthentication">
                Authentication
              </label>
            </div>
          </div>
        </div>

        <div ng-if="model.authentication.hasAuthentication">
          <div class="form-group"
               ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['user'].$dirty) && iscsiForm['user'].$invalid}">
            <label class="col-sm-3 control-label" for="user">User</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="user" id="user" ng-model="model.authentication.user" required>
              <span class="help-block" ng-show="iscsiForm.$submitted || iscsiForm['user'].$dirty">
                  <span class="tc_userRequired" ng-show="iscsiForm['user'].$error.required">Required field</span>
              </span>
            </div>
          </div>
          <div class="form-group"
               ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['password'].$dirty) && iscsiForm['password'].$invalid}">
            <label class="col-sm-3 control-label" for="password">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password"
                     id="password"
                     ng-model="model.authentication.password" required>
              <span class="help-block" ng-show="iscsiForm.$submitted || iscsiForm['password'].$dirty">
                <span class="tc_passwordRequired" ng-show="iscsiForm['password'].$error.required">Required field</span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Initiators</label>
            <div class="col-sm-9">
              <span ng-if="model.authentication.initiators.length === 0" class="form-control no-border">
                <span class="text-muted">Empty</span>
              </span>
              <span ng-repeat="currentInitiator in model.authentication.initiators track by $index" id="initiators">
                <div ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['initiator'+$index].$dirty) && iscsiForm['initiator'+$index].$invalid}">
                  <div class="input-group">
                    <input type="text" class="form-control"
                           name="initiator{{ $index }}"
                           id="initiator{{ $index }}"
                           ng-model="model.authentication.initiators[$index]"
                           class="tc_initiatorInput"
                           required valid-iqn>
                    <span class="input-group-btn">
                      <button class="btn btn-default tc_initiatorRemoveButton" type="button" uib-tooltip="Delete"
                              ng-click="removeInitiator($index)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </span>
                  </div>
                  <span class="help-block">
                    <span ng-show="iscsiForm.$submitted || iscsiForm['initiator'+$index].$dirty">
                      <span class="tc_InitiatorRequired" ng-show="iscsiForm['initiator'+$index].$error.required">
                          Should not be empty
                      </span>
                      <span class="tc_InitiatorInvalid" ng-show="iscsiForm['initiator'+$index].$error.iqn">
                          An IQN has the following notation 'iqn.$year-$month.$reversedAddress:$definedName'<br>
                          For example: iqn.2016-06.org.openattic:storage:disk.sn-a8675309<br>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/ISCSI#Addressing">More information</a>
                      </span>
                    </span>
                  </span>
                </div>
              </span>
              <span uib-dropdown on-toggle="toggled(open)" class="form-control no-border">
                <button type="button" class="btn btn-default pull-right tc_addInitiatorButton" ng-click="addInitiator()">
                  <i class="fa fa-fw fa-plus"></i>Add initiator
                </button>
              </span>
              <hr>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" ng-model="model.authentication.hasMutualAuthentication" name="active" id="hasMutualAuthentication">
                <label for="hasMutualAuthentication"
                       ng-class="model.authentication.hasMutualAuthentication && !model.authentication.enabledMutualAuthentication ? 'strikethrough text-muted' : ''">
                  Mutual authentication
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              <span ng-if="model.authentication.hasMutualAuthentication" class="pull-right">
                <toggle ng-model="model.authentication.enabledMutualAuthentication" size="btn-sm" onstyle="btn-primary"></toggle>
              </span>
            </div>
          </div>
          <div ng-if="model.authentication.hasMutualAuthentication">
            <div class="form-group"
                 ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['mutualUser'].$dirty) && iscsiForm['mutualUser'].$invalid}">
              <label class="col-sm-3 control-label" for="mutualUser">Mutual user</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="mutualUser" id="mutualUser"
                       ng-model="model.authentication.mutualUser" required>
                <span class="help-block"
                      ng-show="iscsiForm.$submitted || iscsiForm['mutualUser'].$dirty">
                  <span class="tc_mutualUserRequired" ng-show="iscsiForm['mutualUser'].$error.required">Required field</span>
                </span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['mutualPassword'+$index].$dirty) && iscsiForm['mutualPassword'+$index].$invalid}">
              <label class="col-sm-3 control-label" for="mutualPassword">Mutual password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" name="mutualPassword" id="mutualPassword"
                       ng-model="model.authentication.mutualPassword" required>
                <span class="help-block"
                      ng-show="iscsiForm.$submitted || iscsiForm['mutualPassword'].$dirty">
                    <span class="tc_mutualPasswordRequired" ng-show="iscsiForm['mutualPassword'].$error.required">Required field</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-offset-3 col-sm-9">
            <hr>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="checkbox checkbox-primary">
                <input type="checkbox" ng-model="model.authentication.hasDiscoveryAuthentication" name="active" id="hasDiscoveryAuthentication">
                <label for="hasDiscoveryAuthentication"
                       ng-class="model.authentication.hasDiscoveryAuthentication && !model.authentication.enabledDiscoveryAuthentication ? 'strikethrough text-muted' : ''">
                  Discovery authentication
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              <span ng-if="model.authentication.hasDiscoveryAuthentication" class="pull-right">
                <toggle ng-model="model.authentication.enabledDiscoveryAuthentication" size="btn-sm" onstyle="btn-primary"></toggle>
              </span>
            </div>
          </div>
          <div ng-if="model.authentication.hasDiscoveryAuthentication">
            <div class="form-group"
                 ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['discoveryUser'].$dirty) && iscsiForm['discoveryUser'].$invalid}">
              <label class="col-sm-3 control-label" for="discoveryUser">Discovery user</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="discoveryUser" id="discoveryUser"
                       ng-model="model.authentication.discoveryUser" required>
                <span class="help-block"
                      ng-show="iscsiForm.$submitted || iscsiForm['discoveryUser'].$dirty">
                  <span class="tc_discoveryUserRequired"
                        ng-show="iscsiForm['discoveryUser'].$error.required">Required field</span>
                </span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['discoveryPassword'].$dirty) && iscsiForm['discoveryPassword'].$invalid}">
              <label class="col-sm-3 control-label" for="discoveryPassword">Discovery password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" name="discoveryPassword" id="discoveryPassword"
                       ng-model="model.authentication.discoveryPassword" required>
                <span class="help-block"
                      ng-show="iscsiForm.$submitted || iscsiForm['discoveryPassword'].$dirty">
                  <span class="tc_discoveryPasswordRequired"
                        ng-show="iscsiForm['discoveryPassword'].$error.required">Required field</span>
                </span>
              </div>
            </div>
          </div>
          <span ng-if="model.authentication.hasDiscoveryAuthentication">
            <div class="col-sm-offset-3 col-sm-9">
              <hr>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" ng-model="model.authentication.hasDiscoveryMutualAuthentication"
                         name="active" id="hasDiscoveryMutualAuthentication">
                  <label for="hasDiscoveryMutualAuthentication"
                         ng-class="model.authentication.hasDiscoveryMutualAuthentication && !model.authentication.enabledDiscoveryMutualAuthentication ? 'strikethrough text-muted' : ''">
                      Discovery mutual authentication
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <span ng-if="model.authentication.hasDiscoveryMutualAuthentication" class="pull-right">
                  <toggle ng-model="model.authentication.enabledDiscoveryMutualAuthentication" size="btn-sm" onstyle="btn-primary"></toggle>
                </span>
              </div>
            </div>
            <div ng-if="model.authentication.hasDiscoveryMutualAuthentication">
              <div class="form-group"
                   ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['discoveryMutualUser'].$dirty) && iscsiForm['discoveryMutualUser'].$invalid}">
                <label class="col-sm-3 control-label"
                       for="discoveryMutualUser">Discovery mutual user</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="discoveryMutualUser" id="discoveryMutualUser"
                         ng-model="model.authentication.discoveryMutualUser" required>
                  <span class="help-block"
                        ng-show="iscsiForm.$submitted || iscsiForm['discoveryMutualUser'].$dirty">
                    <span class="tc_discoveryMutualUserRequired"
                          ng-show="iscsiForm['discoveryMutualUser'].$error.required">Required field</span>
                  </span>
                </div>
              </div>
                <div class="form-group"
                     ng-class="{'has-error': (iscsiForm.$submitted || iscsiForm['discoveryMutualPassword'].$dirty) && iscsiForm['discoveryMutualPassword'].$invalid}">
                  <label class="col-sm-3 control-label" for="discoveryMutualPassword">Discovery mutual password</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="discoveryMutualPassword" id="discoveryMutualPassword"
                           ng-model="model.authentication.discoveryMutualPassword" required>
                    <span class="help-block"
                          ng-show="iscsiForm.$submitted || iscsiForm['discoveryMutualPassword'].$dirty">
                      <span class="tc_discoveryMutualPasswordRequired"
                            ng-show="iscsiForm['discoveryMutualPassword'].$error.required">Required field</span>
                    </span>
                  </div>
                </div>
            </div>
          </span>
        </div>
      </div>

      <div class="panel-footer">
        <div class="button-group text-right">
          <button type="submit" class="btn btn-sm btn-primary tc_submitButton"
                  ng-disabled="iscsiForm.$invalid || iscsiForm.$submitted"
                  ng-click="submitAction()">
            Submit
            <i class="fa fa-spinner fa-spin fa-fw" ng-if="iscsiForm.$submitted"></i>
          </button>
          <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
