<ceph-cluster-dropdown cluster="cluster" registry="registry" get-data="getIscsiList()"></ceph-cluster-dropdown>

<div class="panel panel-default" ng-show="error">
  <div class="panel-heading">
    <h3 class="panel-title">Couldn't load iSCSI targets</h3>
  </div>
  <div class="panel-body">
    iSCSI targets could not be loaded. Make sure that the ceph module is installed.
  </div>
</div>

<oa-loading-panel message="iSCSI targets are loading..."
                  ng-show="!error && !iscsi.$resolved"></oa-loading-panel>

<oadatatable ng-show="!error && iscsi.results" data="iscsi" class="oadatatable tc_cephIscsiTable"
             filter-config="filterConfig" selection="selection" special="deployed">
  <actions>
    <a class="btn btn-sm btn-primary tc_add_btn" type="button" ng-click="addAction()"
       ng-hide="hasSelection || multiSelection">
      <i class="fa fa-fw fa-plus"></i>Add
    </a>
    <a class="btn btn-sm btn-primary tc_edit_btn" type="button" ng-click="editAction()" ng-show="hasSelection">
      <i class="fa fa-fw fa-pencil"></i>Edit
    </a>
    <a class="btn btn-sm btn-primary tc_delete_btn" type="button" ng-click="deleteAction()" ng-show="multiSelection">
      <i class="fa fa-fw fa-trash-o"></i>Delete
    </a>
    <li>
      <a ng-click="addAction()">
        <i class="fa fa-fw fa-plus"></i>Add
      </a>
    </li>
    <li class="tc_cloneItem" ng-click="cloneAction()" ng-class="{disabled: !hasSelection}">
      <a>
        <i class="fa fa-fw fa-clone"></i>Clone
      </a>
    </li>
    <li class="tc_deleteItem" ng-click="deleteAction()" ng-class="{disabled: !hasSelection && !multiSelection}">
      <a>
        <i class="fa fa-fw fa-trash-o"></i>Delete
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li class="tc_deployItem" ng-click="deployIscsi()"
        ng-class="{disabled: (deployed.status === true || deployed.$resolved === false)}">
      <a>
        <i class="fa fa-fw fa-play"></i>Start all
      </a>
    </li>
    <li class="tc_undeployItem" ng-click="undeployIscsi()"
        ng-class="{disabled: (deployed.status === false || deployed.$resolved === false)}">
      <a>
        <i class="fa fa-fw fa-stop "
           ng-class="{'icon-danger': !(deployed.status === false || deployed.$resolved === false)}"></i>Stop all
      </a>
    </li>
  </actions>
  <table class="table table-striped table-bordered table-hover dataTable datatable">
    <thead>
    <tr>
      <th class="oadatatablecheckbox" ng-if="selection.available">
        <input type="checkbox" ng-model="selection.checkAll"/>
      </th>
      <th ng-show="columns['Target']" sortfield="targetId" sortdir="asc" sortheaderclass sortdefault>Target</th>
      <th ng-show="columns['State']">State</th>
      <th ng-show="columns['Portals']" sortfield="portals" sortheaderclass>Portals</th>
      <th ng-show="columns['Images']" sortfield="images" sortheaderclass>Images</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data.results"
        ng-class="{ info: isRowSelected(row) }"
        class="clickable"
        ng-click="toggleSelection(row, $event)">
      <td ng-if="selection.available">
        <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
      </td>
      <td ng-show="columns['Target']" ng-bind="row.targetId"></td>
      <td ng-show="columns['State']">
        <span ng-if="special.status === true">
          <span ng-if="special.$resolved === false">
            <i class="fa fa-spinner fa-spin fa-fw"></i> Stopping...
          </span>
          <span ng-if="special.$resolved === true">Active</span>
        </span>
        <span ng-if="special.status === false">
          <span ng-if="special.$resolved === false">
            <i class="fa fa-spinner fa-spin fa-fw"></i> Starting...
          </span>
          <span ng-if="special.$resolved === true">
            <i class="fa fa-chain-broken icon-danger"></i> Inactive
          </span>
        </span>
      </td>
      <td ng-show="columns['Portals']"
          ng-bind="row.portals[0].hostname + ':' + row.portals[0].interface + (row.portals.length > 1 ? ', ...' : '')"></td>
      <td ng-show="columns['Images']"
          ng-bind="row.images[0].pool + ':' + row.images[0].name + (row.images.length > 1 ? ', ...' : '')"></td>
    </tr>
    </tbody>
  </table>
</oadatatable>

<div id="more" ui-view="tab">
</div>
