<div class="panel panel-default" ng-if="error">
    <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body">
        The list of users could not be loaded.
    </div>
</div>
<oa-loading-panel message="Object Gateway users are loading..."
                  ng-show="!error && !users.results"></oa-loading-panel>

<oadatatable ng-show="!error && users.results" class="oadatatable tc_oadatatable_users" data="users" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_addUser" type="button" ng-click="addAction()" ng-hide="hasSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_editUser" type="button" ng-click="editAction()" ng-show="hasSelection">
            <i class="fa fa-fw fa-pencil"></i>Edit
        </a>
        <li>
            <a ng-click="addAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="tc_editUser" ng-class="{disabled: !hasSelection}">
            <a ng-click="editAction()">
                <i class="fa fa-fw fa-pencil"></i>Edit
            </a>
        </li>
        <li class="divider"></li>
        <li class="tc_deleteItem" ng-class="{disabled: !hasSelection && !multiSelection}">
            <a ng-click="deleteAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available"><input type="checkbox" ng-model="selection.checkAll"/></th>
                <th sortfield="user_id"      sortheaderclass ng-show="columns['User ID']" sortdir="ASC" sortdefault>User ID</th>
                <th sortfield="display_name" sortheaderclass ng-show="columns['Display name']">Display name</th>
                <th sortfield="email"        sortheaderclass ng-show="columns['Email address']">Email address</th>
                <th sortfield="suspended"    sortheaderclass ng-show="columns['Suspended']">Suspended</th>
                <th sortfield="max_buckets"  sortheaderclass ng-show="columns['Max. buckets']">Max. buckets</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results" ng-class="{info: isRowSelected(row)}" class="clickable" ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available"><input type="checkbox" checklist-model="selection.items" checklist-value="row"/></td>
                <td ng-show="columns['User ID']">
                    <a ui-sref="ceph-rgw-user-edit({user_id:row.user_id})" ng-bind="row.user_id"></a>
                </td>
                <td ng-show="columns['Display name']"  ng-bind="row.display_name"></td>
                <td ng-show="columns['Email address']" ng-bind="row.email"></td>
                <td ng-show="columns['Suspended']"><i class="fa fa-check fa-fw" ng-show="row.suspended"></i></td>
                <td ng-show="columns['Max. buckets']"  ng-bind="row.max_buckets"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
