<div class="openattic-modal-header">
    <span ng-hide="editing">Add Swift key: {{key.user}}</span>
    <span ng-show="editing">View Swift key: {{key.user}}</span>
</div>
<form name="form" role="form" class="form-horizontal" novalidate>
    <div class="openattic-modal-content">
        <!-- User -->
        <div class="form-group"
             ng-class="{'has-error': form.user.$dirty && form.user.$invalid}">
            <label class="col-sm-3 control-label" for="user">User</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"> <i class="icon-prepend fa fa-user"></i></span>
                    <select class="form-control"
                            ng-model="key.user"
                            ng-disabled="editing"
                            ng-required="!editing"
                            ng-options="user for user in enumKeySubuserCandidates()"
                            name="user"
                            id="user">
                        <option value="">-- Select a subuser --</option>
                    </select>
                </div>
                <span class="help-block tc_userRequired"
                      ng-show="form.user.$dirty && form.user.$error.required">
                    This field is required!
                </span>
                <span class="help-block tc_userNotUnique" ng-show="form.user.$error.uniqueuser">
                    The chosen user is already in use.
                </span>
            </div>
        </div>
        <!-- Generate secret -->
        <div class="form-group"
             ng-show="!editing">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox checkbox-primary">
                    <input type="checkbox"
                           ng-model="key.generate_key"
                           ng-true-value="1"
                           ng-false-value="0"
                           name="generate_key"
                           id="generate_key">
                    <label for="generate_key">
                        Generate secret
                    </label>
                </div>
            </div>
        </div>
        <!-- Secret key -->
        <div class="form-group"
             ng-class="{'has-error': form.secret_key.$dirty && form.secret_key.$invalid}"
             ng-hide="key.generate_key">
            <label class="col-sm-3 control-label" for="secret_key">Secret key</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"> <i class="icon-prepend fa fa-key"></i></span>
                    <input class="form-control"
                           type="text"
                           placeholder="Secret key..."
                           ng-model="key.secret_key"
                           ng-readonly="editing"
                           ng-required="!editing && !key.generate_key"
                           name="secret_key"
                           id="secret_key">
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                uib-tooltip="Copy to clipboard"
                                oa-clipboard oa-clipboard-target="secret_key"
                                oa-clipboard-text="Secret key">
                            <i class="icon-prepend fa fa-clipboard"></i>
                        </button>
                    </span>
                </div>
                <span class="help-block tc_secretKeyRequired"
                      ng-show="form.secret_key.$dirty && form.secret_key.$error.required">
                    This field is required!
                </span>
            </div>
        </div>
    </div>
    <div class="openattic-modal-footer">
        <div class="button-group text-right">
            <button type="submit"
                    class="btn btn-sm btn-primary tc_submitSwiftKeyButton"
                    ng-click="submitAction(form)"
                    ng-disabled="form.$invalid"
                    ng-show="!editing">
                Submit
            </button>
            <button type="button"
                    class="btn btn-sm btn-default tc_cancelSwiftKeyButton"
                    ng-click="cancelAction()">
                Cancel
            </button>
        </div>
    </div>
</form>
