<!DOCTYPE html>
<html ng-app="openattic">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title ng-bind="pageTitle">openATTIC</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- ### Stylesheets ### -->
    <!-- 3rd-Party Libraries -->
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/angular-gridster/dist/angular-gridster.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/angular-toasty/dist/angular-toasty.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/nvd3/build/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/bootstrap-notifications/dist/stylesheets/bootstrap-notifications.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" media="screen" href="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css">

    <!-- build:css oa-app.css -->
    <!-- oA stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/openattic-theme.css">
    <!-- endbuild -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/vendor.css">

    <!-- favicons -->
    <link rel="shortcut icon" href="images/openattic_favicon_32x32.png" type="image/x-icon">
    <link rel="icon" href="images/openattic_favicon_32x32.png" type="image/x-icon">
</head>
<body>
    <noscript>
        <div class="noscript container" ng-if="false">
            <div class="jumbotron alert alert-danger">
                <h2>JavaScript required!</h2>
                <p>A browser with JavaScript enabled is required in order to use this service.</p>
                <p>When using Internet Explorer, please check your security settings and add this address to your trusted sites.</p>
            </div>
        </div>
    </noscript>

    <navigation ng-hide="loginActive()"></navigation>

    <div class="container-fluid" ng-class="{'full-height':loginActive()}">
        <div class="row" ng-class="{'full-height':loginActive()}">
            <div class="col-md-12" ng-class="{'full-height':loginActive()}">
                <!-- breadcrumb -->
                <div ncy-breadcrumb ng-hide="loginActive()"></div>
                <!-- end breadcrumb -->

                <!-- content -->
                <div ui-view="main" ng-class="{'full-height':loginActive()}"></div>
                <!-- end content -->
            </div>
        </div>
    </div>

    <!-- toasty -->
    <toasty></toasty>
    <!-- end toasty -->

    <!-- oa-config -->
    <script src="config.js"></script>

    <!-- 3rd-Party Libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="bower_components/angular-md5/angular-md5.min.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-toasty/dist/angular-toasty.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>

    <!-- build:js oa-app.js -->

    <!-- htmlbuild:script src -->
    <!-- /htmlbuild -->

    <!-- endbuild -->
</body>
</html>