<i class="fa fa-spinner fa-spin fa-fw" ng-if="!cluster.length"></i>

<div class="form-group" ng-if="cluster.length > 1">
  <label for="cluster" class="control-label">Cluster</label>
  <select id="cluster"
          name="cluster"
          class="form-control tc_cluster"
          ng-model="input.settings.cluster"
          ng-options="(c.name + ' (' + c.fsid + ')') for c in cluster track by c.fsid"
          required>
    <option value="">-- Select a cluster --</option>
  </select>
</div>

<div class="form-group" ng-if="cluster.length && input.manager.manager === 'ceph-cluster-performance'">
  <label for="perfData" class="control-label">Performance data options</label>
  <select id="perfData"
          name="perfData"
          class="form-control tc_perfData"
          ng-model="input.settings.perfdata"
          ng-options="pd for pd in perfData"
          required>
    <option value="">-- Select an option --</option>
  </select>
</div>