<div class="panel" ng-class="panelClass || 'panel-default'">
    <div role="tab" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading clickable"
         ng-click="toggleOpen()" ng-keypress="toggleOpen($event)">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}"
               tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
            </a>
        </h4>
    </div>
    <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel"
         class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</div>