<div class="openattic-modal-header">
  <span ng-bind="texts.header"></span>
</div>

<form name="addForm" role="form" class="form-horizontal" novalidate>
  <div class="openattic-modal-content">
    <p ng-bind-html="texts.content.doing"></p>
    <p ng-bind-html="texts.content.confirm"></p>

    <div ng-if="data.type === 'dashboard'">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Name</label>
          <div class="col-sm-10">
            <input type="text"
                   id="name"
                   class="form-control"
                   ng-model="input.name"
                   ng-maxlength="20"
                   maxlength="20"
                   required
                   autofocus>
          </div>
        </div>
    </div>
    <div ng-if="data.type === 'widget'">
      <div class="form-group">
        <label for="manager" class="control-label">Type</label>
        <select id="manager"
                class="form-control"
                ng-model="input.manager"
                ng-options="m.name group by m.group for m in data.manager track by m.name"
                required
                autofocus>
          <option value="">-- Select a type --</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="text"
               id="name"
               class="form-control"
               ng-model="input.name"
               ng-maxlength="30"
               maxlength="30"
               required>
      </div>

      <ceph-cluster-performance-settings ng-if="extendedSettings.indexOf(input.manager.manager) >= 0">
      </ceph-cluster-performance-settings>
    </div>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <button id="bot2-Msg1" class="btn btn-primary btn-sm" ng-bind="texts.footer"
              ng-click="addOrEdit()" ng-disabled="addForm.$invalid">
      </button>
      <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>
