<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i> Loading...</h3>
  </div>
  <div class="panel-body">
    {{ $ctrl.message }}
  </div>
</div>
