<ceph-cluster-dropdown cluster="cluster" registry="registry" get-data="getOsdList()"></ceph-cluster-dropdown>

<div ng-show="cluster.results.length > 0">
    <div class="panel panel-default" ng-show="error">
        <div class="panel-heading">
            <h3 class="panel-title">Couldn't connect to Ceph cluster</h3>
        </div>
        <div class="panel-body">
            Ceph OSD resource could not be loaded. Make sure that the ceph module is installed.
        </div>
    </div>

    <oa-loading-panel message="Ceph OSDs are loading..."
                      ng-show="!error && !osd.$resolved"></oa-loading-panel>
</div>

<oadatatable ng-show="!error && osd.results" data="osd" class="oadatatable tc_cephOsdTable" filter-config="filterConfig" selection="selection">
    {{data.results}}
    <table class="table table-striped table-bordered table-hover dataTable datatable">
        <thead>
            <tr>
                <!-- Removes selection
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                -->
                <th ng-show="columns['Name']" sortfield="name" sortdir="asc" sortheaderclass sortdefault>Name</th>
                <th ng-show="columns['Hostname']" sortfield="hostname" sortheaderclass>Hostname</th>
                <th ng-show="columns['Status']" sortfield="status" sortheaderclass>Status</th>
                <th ng-show="columns['Crush Weight']">Crush Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results">
                <!-- Removes selection
                ng-click="toggleSelection(row, $event)">
                ng-class="{ info: isRowSelected(row) }"
                class="clickable"
                    ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                -->
                <td ng-show="columns['Name']" ng-bind="row.name"></td>
                <td ng-show="columns['Hostname']" ng-bind="row.hostname"></td>
                <td ng-show="columns['Status']" ng-bind="row.status"></td>
                <td ng-show="columns['Crush Weight']" ng-bind="row.crush_weight"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<!--
<div id="more" ui-view="tab">
</div>
-->
