<div class="btn-group">
    <a class="btn btn-sm btn-primary dropdown-toggle tc_menudropdown" data-toggle="dropdown">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu oa-dropdown-actions oa-dropdown-menu" role="menu">
    </ul>
</div>