<div class="widget-toolbar">
    <a class="btn btn-sm btn-default dropdown-toggle tc_columnBtn" data-toggle="dropdown">
        <i class="fa fa-lg fa-table"></i>
    </a>
    <ul class="dropdown-menu arrow-box-up-right pull-right" role="menu">
        <li ng-repeat="(text, checked) in columns">
            <label>
                <input type="checkbox" ng-model="columns[text]"></input>
                <span class="tc_columnItem">&nbsp;{{text}}</span>
            </label>
        </li>
    </ul>
</div>
