{% extends "index.html" %}
{# kate: space-indent on; indent-width 2; replace-tabs on; #}
{% load i18n %}

{% comment %}
 Copyright (C) 2011-2016, it-novum GmbH <community@openattic.org>

 openATTIC is free software; you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by
 the Free Software Foundation; version 2.

 This package is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
{% endcomment %}

{% block Title %}:: Logged out{% endblock %}

{% block Body %}
  <h3>You have been logged out.</h3>
  <p>Thank you for visiting.</p>
{% endblock %}
